name: Build Compiler + VM (Windows + MinGW)

on:
  workflow_dispatch:  # ручной запуск

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
        update: true
        install: >
          mingw-w64-x86_64-toolchain
          mingw-w64-x86_64-cmake
          mingw-w64-x86_64-ninja

    - name: Add MSYS2 to PATH
      shell: bash
      run: |
        echo "$MINGW_PREFIX/bin" >> $GITHUB_PATH

    - name: Build C# Compiler
      shell: pwsh
      run: |
        dotnet restore Compiler/Compiler.csproj
        dotnet publish Compiler/Compiler.csproj -c Release -o build/compiler

    - name: Build C++ VM
      shell: bash
      run: |
        mkdir -p build/vm
        cmake -S virtual-machine -B build/vm -G Ninja -DCMAKE_BUILD_TYPE=Release
        cmake --build build/vm
