name: Build Compiler + VM

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: "8.0.x"

    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
        update: true
        install: >
          mingw-w64-x86_64-toolchain
          mingw-w64-x86_64-cmake
          mingw-w64-x86_64-make

    - name: Add MSYS2 to PATH
      shell: bash
      run: |
        echo "$MINGW_PREFIX/bin" >> $GITHUB_PATH

    - name: Build Compiler and VM
      shell: bash
      run: |
        ./build.ps1